.buy-section{
  width: 600px;
  padding: 15px;
  border-radius: 30px;
  background-color: #fff;
}

.shop-title{
  text-align: center;
}

.product-card-body{
  padding: 20px;
  display: flex;
}

.product-information{
  display: flex;
}

.product-image{
  height: 100px;
}

.product-info-text{
  display: flex;
  flex-direction: column;
}

.add-cart-btn{
  border: none;
  width: 10rem;
  height: 30px;
  border-radius: 50px;
  background-color: #7A1CAC;
  color: #fff;
  font-weight: bold;
}

.add-cart-btn:hover{
  cursor: pointer;
  background-color: #541377
}